@use '../../../../public/scss/_mixins.scss' as mixins;

.keyboard {
  list-style-type: none;
  padding: 3.2rem 3rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 6.4rem;
  column-gap: 2.5rem;
  row-gap: 2.4rem;

  background: var(--bg-board);
  border-radius: 1rem;
  transition: all .4s;

  li:nth-last-child(-n+2) {
    grid-column-end: span 2;
  }

  @include mixins.respond(phone) {
    padding: 2.4rem;
    gap: 1.3rem;
  }
}
